<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djalaluddin Pane Foundation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/landing page.css">
</head>
<body>
    <header>
        <nav>   
        <div>
            <img src="/static/images/Icon/Logo DPF.png" alt="DPF Logo">
            <h1 class="Logo">Pondok Pesantren Djalaluddin Pane</h1>
        </div>
        </nav>
    </header>    

    <!-- Kontent artikel -->
    <main>
        <div class="tagLine">
            <article>
                <div class="judul">
                    <h2>Selamat Datang di Official Website Pondok Pesantren Djalaluddin Pane</h2>
                <div class="button button-black "><a href="https://api.whatsapp.com/send?phone=6285234567951&text=Assalamualaikum%2C%20saya%20ingin%20bertanya%20seputar pondok%20bisakah%20dibantu%3F" class="default">Hubungi Kami</a></div>
                </div>
                <img src="/static/images/Image/WhatsApp Image 2023-06-08 at 09.20.43(1).jpeg" alt="">
            </article>
        </div>

        <!-- Program -->
        <div class="program">
            <h2>Program Unggulan</h2>
            <section>
            <div class="fotoProgram card">
            <img src="/static/Image/zakat-fit.webp" alt="Zakat" class="featured-image">
            <h2>Tahfidz Al-Quran</h2>
            </div>
            <div class="fotoProgram card">
                <img src="/static/Image/sedekah-sub.webp" alt="sedekah" class="featured-image">
                <h2>Adab Islam</h2>
            </div>
            <div class="fotoProgram card">
                <img src="/static/Image/kurban.webp" alt="Dirasah Islamiyah" class="featured-image">
                <h2>Dirasah Islamiyah</h2>
            </div>
            <div class="fotoProgram card">
                <img src="/static/images/Image/039508000_1672714709-learning_Arabic.webp" alt="Program Bahasa Arab dan Inggris" class="featured-image">
                <h2>Bahasa Arab dan Inggris</h2>
            </div>
            <div class="fotoProgram card">
                <img src="/static/Image/berbagi-1000.webp" alt="donasi" class="featured-image">
                <h2>Keterampilan Keputrian dan TIK</h2>
            </div>
            </section>
        </div>  

        <!-- Tentang Kami -->
        <div class="tentangKami">
            <h2>Tentang Pesantren Djalaluddin Pane</h2>
            <article>
            <img src="/static/images/Image/WhatsApp Image 2023-06-08 at 09.20.46.jpeg" alt="Tentang Kami DPF">
            <div class="selengkapnya">
                <h2>Apa Itu Pondok Pesantren Djalaluddin ? </h2>
                <p>Pondok Pesantren Djalaluddin adalah pondok pesantren tahfizh dan adab yang berbasis sains dan teknologi. Pondok pesantren Djalaluddin juga mendapatkan predikat sebagai pesantren ramah anak yang terbebas dari bullying, kekerasan, dan pelecehan seksual.</p>            
 
                <h2>Keunggulan Pondok Pesantren Djalaluddin Pane</h2>
                <p>Pembelajaran berbasis sains dan teknologi, pesantren ramah anak, tenaga pendidik yang berkualitas dan tersertifikasi, lingkungan pesantren yang mendukung (asri dan terlindungi), dan biaya yang terjangkau</p>
            </div>
            </article>
        </div>

        <!-- Alur Pendaftaran -->
        <div class="alur">
            <h2>Alur Pendaftaran Pondok Pesantren Djalaluddin Pane</h2>
            <p>Mari bersama memberdayakan dan ikut serta membukakan pintu pemberdayaan bagi kesejahteraan <br> masyarakat fakir dan miskin bersama kami</p>
            <article>
                <div class="mitra">
                    <img src="/static/Image/1-removebg-preview.png" alt="" class="card">
                    <img src="/static/Image/2.png" alt="" class="card">
                    <img src="/static/Image/3.png" alt="" class="card">
                    <img src="/static/Image/4.png" alt="" class="card">
                    <img src="/static/Image/5.png" alt="" class="card">
                    <img src="/static/Image/6-removebg-preview.png" alt="" class="card">
                </div>
            </article>
        </div>

        <!-- link gform -->
        <div class="Pendaftaran">
            <article>
            <div class="selengkapnya">
                <p>Masya Allah ternyata banyak banget ya impact jika putra putri bapak ibu bisa menjadi bagian dari Pondok Pesantren Djalaluddin Pane ini, </p>            
                <p style="margin-bottom: 50px;">yuk tunggu apalagi langsung daftar di Pondok Pesantren Djalaluddin Pane</p>
                <div class="button button-black"><a href=" https://docs.google.com/forms/d/1_Mg4PahclKNH4CGPjrlEYS4P2sa7_idS-BG-eavd9XM/prefill" class="default">Daftar Disini!</a></div></div>
            </div>
            </article>
        </div>

        <!-- Footer -->
        <div class="footer">
            <footer>
                <div class="alamat">
                    <h2>Pondok Pesantren Djalaluddin Pane</h2>
                    <p>Jalan Raya Puncak, Jalan Budi Luhur, Kampung Babakan Haji, RT 003/002 </p>
                    <p>Kelurahan Cisarua, Kecamatan Cisarua, Kabupaten Bogor</p>
                    <p>+62 852 3456 7951 (Jakarta)</p>
                </div>
                
                <div class="Footer">
                    <h2>Tentang Kami</h2>
                    <p><a href="https://dpf.or.id/tentang-kami/">Sejarah</a></p>
                    <p><a href="https://dpf.or.id/visi-misi/">Visi Misi</a></p>
                    <p><a href="https://dpf.or.id/budaya-kerja/">Budaya kerja</a></p>
                    <p><a href="https://dpf.or.id/rekening/">Rekening</a></p>
                    <p><a href="https://dpf.or.id/laporan/">Laporan</a></p>
                </div>
                
                <div class="mediaSosial">
                    <div>
                    <h2>Media Sosial</h2>
                    </div>
                <div class="icon">
                    <a href="https://www.instagram.com/dpf.or.id?igsh=MTc4MmM1YmI2Ng==">
                        <img src="/static/Image/instagram.png" alt="Instagram Icon" style="width: 50px; height: auto;">
                    </a> 

                    <a href="https://api.whatsapp.com/send?phone=6285234567951&text=Assalamualaikum%2C%20saya%20ingin%20menunaikan%20zakat%20bisakah%20dibantu%3F">
                        <img src="/static/Image/whatsapp.png" alt="WhatsApp Icon" style="width: 50px; height: auto; " id="##WhatsApp">
                    </a>             

                    <a href="https://www.youtube.com/@dpfofficial">
                        <img src="/static/Image/youtube.png" alt="YouTube Icon" style="width: 50px; height: auto;">
                    </a>
                </div>  
                </div>
            </footer>
        </div>
    </main>
</body>
</html>
